{% extends 'main.html' %}

{% block title %}
<title>Home</title>
{%endblock title %}

{% block body %}
<h1 class="text-center">Home Page</h1>

{% for blog in data %}

<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{blog.blogTitle}}</h3>
        <div class="mb-1 text-muted">{{blog.publishDate}}</div>
        <p class="card-text mb-auto">{{blog.blogContent}}</p>
        <h5>Author: {{blog.blogAuthor}}</h5>
        <a href="#" class="stretched-link btn btn-primary">Continue reading</a>
    </div>
    </div>
  </div>

{% endfor %}

{% endblock body %}